<%= form_tag static_pages_result_path, {method: :get} do %>
  <%= text_field_tag :search_string, @text_field_val %>
  <%= submit_tag "検索" %>
<% end %>

<% if @articles %>
  <canvas id="citation_graph" width="600" height="450"></canvas>

  <div id="search_results" >
    <% @articles.each do |article| %>
      <div class="search_result">
	<div class="search_result_title" ><a href=<%= "#{article["url"][0]}" %>><%= "#{article["title"][0]}" %></a></div>
	<div class="search_result_url" ><%= "#{article["url"][0]}" %></div>
	<div class="search_result_summary" ><%= "#{article["snippet"][0]}" %></div>
      </div>
    <% end %>
  </div>
<% end %>

  



