<% # グラフを付与するインタフェースの検索結果を提示するときのみmain.jsを読み込む %>
<% if @userid != 1 %>
  <%= javascript_include_tag 'arbor' %>
  <%= javascript_include_tag 'arbor-tween' %>
  <%= javascript_include_tag 'graphics' %>
  <%= javascript_include_tag 'main' %>
<% end %>

<%= "userid: #{ @userid } " + "interface: #{ @interface }" %>
<!-- <div id="experimental_mode" class="checkbox">
<label>
<input type="checkbox" />Debug Mode
</label>
</div> -->
experimental mode: <%= check_box_tag "checkbox_experimental_mode", true, true, {} %>
<div id="experimental_mode">
  <div id="countdown_timer"></div>
  <button id="start_countdown_timer_button" type="button" class="btn">Restart</button>
  <button id="reload_countdown_timer_button" type="button" class="btn">Reset</button>
</div>
<%= bootstrap_form_tag url: "/static_pages/result/#{ @userid }/#{ @interface }", method: :get, layout: :inline do |f| %>
  <%= f.text_field :search_string, value: @text_field_val, hide_label: :true %>
  <%= f.submit "検索" %>
<% end %>

<% if @articles %>

  <canvas id="citation_graph" width="800" height="600"></canvas>

  <div id="search_results">
    <% @articles["data"]["search_results"].each_with_index do |search_result, index| %>
      <div class="search_result_row">
	<div class="rank">
	  <%= index + 1 %>
	</div>
	<div class="relevance">
	  <button type="button" class="btn btn-success relevant">Relevant</button>
	  <button type="button" class="btn btn-danger irrelevant">Irrelevant</button>
	  <button type="button" class="btn btn-default undo">Undo</button>
	</div>
	<div class="search_result">
	  <div class="search_result_title" ><%= link_to "#{ search_result['sr_title'] }", "#{ search_result['sr_url'] }", :target => "_blank" %> </div>
	  <div class="search_result_url" ><%= "#{search_result['sr_url']}" %></div>
	  <div class="search_result_summary" ><%= "#{search_result['snippet']}" %></div>
	</div>
      </div>
    <% end %>
  </div>
<% end %>





