<%= "userid: #{ @userid } " + "interface: #{ @interface }" %>
<%= form_tag "/static_pages/result/#{ @userid }/#{ @interface }", {method: :get} do %>
  <%= text_field_tag :search_string, @text_field_val %>
  <%= submit_tag "検索" %>
<% end %>

<% if @articles %>

  <canvas id="citation_graph" width="600" height="450"></canvas>

  <div id="search_results" >
    <% @articles["data"]["search_results"].each do |search_result| %>
      <div class="search_result_row">
	<div class="relevance">
	  <button type="button" class="btn btn-success relevant">Relevant</button>
	  <button type="button" class="btn btn-danger irrelevant">Irrelevant</button>
	  <button type="button" class="btn btn-default undo">Undo</button>
	</div>
	<div class="search_result">
	  <div class="search_result_title" ><a href=<%= "#{search_result['url']}" %> target="_blank" ><%= "#{search_result['title']}" %></a></div>
	  <div class="search_result_url" ><%= "#{search_result['url']}" %></div>
	  <div class="search_result_summary" ><%= "#{search_result['snippet']}" %></div>
	</div>
      </div>
    <% end %>
  </div>
<% end %>





