<% # グラフを付与するインタフェースの検索結果を提示するときのみmain.jsを読み込む %>
<% if @interface == 1 %>
  <%= javascript_include_tag 'show-search-results' %>
<% else %>
  <%= javascript_include_tag 'arbor' %>
  <%= javascript_include_tag 'arbor-tween' %>
  <%= javascript_include_tag 'graphics' %>
  <%= javascript_include_tag 'main' %>
<% end %>
Experimental Mode: <%= check_box_tag "checkbox_experimental_mode", true, true, {} %>
<div id="experimental_mode">
  <%= "userid: #{ @userid } " + "interface: #{ @interface }" %>
  status: <span id="status">Retreving search results</span>
  <div id="countdown">
    <div id="countdown_timer"></div>
    <button id="start_countdown_timer_button" type="button" class="btn btn-primary">Restart</button>
    <button id="reload_countdown_timer_button" type="button" class="btn btn-warning">Reset</button>
  </div>
</div>
<% if @interface == 3 %>
  Min. Citations: <%= select_tag 'num_citations', options_for_select({'10' => 10, '100' => 100, '1000' => 1000, '5000' => 5000, '0' => 0}), :class => 'form-control' %>
<% end %>
<%= bootstrap_form_tag url: "/static_pages/result/#{ @userid }/#{ @interface }", method: :get, layout: :inline do |f| %>
  <%= f.text_field :search_string, value: @text_field_val, hide_label: :true %>
  <%= f.submit "検索" %>
<% end %>
<% if @articles %>
  <canvas id="citation_graph" width="800" height="600"></canvas>
  <div id="search_results">
    <% @articles["data"]["search_results"].each_with_index do |search_result, index| %>
      <% if (@start_num <= index + 1 && index + 1 <= @end_num) %>
	<div class="search_result_row">
	  <div class="rank">
	    <%= index + 1 %>
	  </div>
	  <div class="relevance">
	    <button type="button" class="btn btn-success btn-sm relevant">Relevant</button>
	    <button type="button" class="btn btn-warning btn-sm partially_relevant">Partially Relevant</button>
	    <button type="button" class="btn btn-danger btn-sm irrelevant">Irrelevant</button>
	    <button type="button" class="btn btn-default btn-sm undo">Undo</button>
	  </div>
	  <div class="search_result">
	    <div class="search_result_title" ><%= link_to "#{ search_result['sr_title'] }", "#{ search_result['sr_url'] }", :target => "_blank" %> </div>
	    <div class="search_result_url" ><%= "#{search_result['sr_url']}" %></div>
	    <div class="search_result_summary" ><%= "#{search_result['snippet']}" %></div>
	  </div>
	</div>
      <% end %>
    <% end %>
  </div>
  <div id='other_search_results'>
    <% @links_to_other_search_results.each_with_index do |l, i| %>
      <%= link_to (i+1).to_s, l %>
    <% end %>
  </div>
<% end %>





