experimental mode: <%= check_box_tag "checkbox_experimental_mode", true, true, {} %>
<div id="experimental_mode">
  <%= "userid: #{ @userid } " + "interface: #{ @interface }" %>
  status: <span id="status">Idol</span>
  <div id="countdown_timer"></div>
  <button id="start_countdown_timer_button" type="button" class="btn btn-primary">Start</button>
  <button id="reload_countdown_timer_button" type="button" class="btn btn-warning">Reset</button>
</div>
<%= bootstrap_form_tag url: "/static_pages/result/#{ @userid }/#{ @interface }", method: :get, layout: :inline do |f| %>
  <%= f.text_field :search_string, hide_label: :true %>
  <%= f.submit "検索" %>
<% end %>

<canvas id="citation_graph" width="0" height="0"></canvas>











