<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= include_gon %>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "extended SERP", '/static_pages/search/1', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "interface 1", '/static_pages/search/1', data: { no_turbolink: true } %></li>
              <li><%= link_to "interface 2", '/static_pages/search/2', data: { no_turbolink: true } %></li>
              <li><%= link_to "interface 3", '/static_pages/search/3', data: { no_turbolink: true } %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
